<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>second app</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <h1>Second App</h1>

    <div class="djangtwo">
      {% if access_records %}
      
        <table>
          <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
          </thead>

          {% for acc in access_records %}
          <tr>
            <td>{{ acc.first_name }}</td>
            <td>{{ acc.last_name }}</td>
            <td>{{ acc.email }}</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>No access records found</p>
        {% endif %}
    </div>

  </body>
</html>
